Repository zenangst/Differific: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

Bump version to 0.6.0
  Differific.podspec
  Differific.xcodeproj/project.pbxproj
Due: none

Update README.md
  README.md
Due: none

Migrate to Swift 5
  .swift-version
  .travis.yml
  Differific.podspec
  Differific.xcodeproj/project.pbxproj
  Source/iOS+tvOS/UITableView+Extensions.swift
  Tests/Shared/DiffManagerTests.swift
Due: tvOS, iOS

Update .travis.yml
  .travis.yml
Due: none

Fix warnings
  Differific.xcodeproj/project.pbxproj
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS

Enable animations on macOS
  Differific.podspec
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS

Add `animations` flag to `reload` extension on NSCollectionView
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS

Update Differific.podspec
  Differific.podspec
Due: none

Improve macOS extensions setting needsLayout
  Differific.podspec
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS

Fix default closure to use Diffable protocol
  Differific.podspec
  Source/Shared/DiffManager.swift
  Source/iOS+tvOS/UITableView+Extensions.swift
Due: macOS, tvOS, iOS

Improve move instructions
  Differific.podspec
  Source/Shared/Algorithm.swift
Due: macOS, tvOS, iOS

Add safe-guard for reloading without a superview
  Differific.podspec
  Source/iOS+tvOS/UICollectionView+Extensions.swift
  Source/iOS+tvOS/UITableView+Extensions.swift
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS, tvOS, iOS

Remove calling updateDataSource()
  Source/iOS+tvOS/UICollectionView+Extensions.swift
  Source/iOS+tvOS/UITableView+Extensions.swift
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS, tvOS, iOS

Call updateDataSource()
  Source/iOS+tvOS/UICollectionView+Extensions.swift
  Source/iOS+tvOS/UITableView+Extensions.swift
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
  Tests/macOS/NSCollectionViewExtensionTests.swift
Due: macOS, tvOS, iOS

Update tests
  Tests/iOS+tvOS/UICollectionViewExtensionsTests.swift
  Tests/iOS+tvOS/UITableViewExtensionsTests.swift
  Tests/macOS/NSCollectionViewExtensionTests.swift
  Tests/macOS/NSTableViewExtensionsTests.swift
Due: none

Split safe-guards
  Source/iOS+tvOS/UICollectionView+Extensions.swift
  Source/iOS+tvOS/UITableView+Extensions.swift
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS, tvOS, iOS

Call completion
  Source/iOS+tvOS/UICollectionView+Extensions.swift
  Source/iOS+tvOS/UITableView+Extensions.swift
  Source/macOS/NSCollectionView+Extensions.swift
  Source/macOS/NSTableView+Extensions.swift
Due: macOS, tvOS, iOS

Use performBatchUpdates completion in extensions
  Differific.podspec
  Source/iOS+tvOS/UICollectionView+Extensions.swift
  Source/iOS+tvOS/UITableView+Extensions.swift
  Source/macOS/NSCollectionView+Extensions.swift
Due: macOS, tvOS, iOS

Add FUNDING.yml
  FUNDING.yml
Due: none

Path conditions:
  macOS: any of: Source/macOS, Source/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
  tvOS: any of: Source/iOS+tvOS, Source/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
  iOS: any of: Source/iOS+tvOS, Source/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
